

.feedbackBtn {
    background-color: aqua;
    min-width: 100px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.feedbackBtnList:not(:last-child) {
    margin-right: 25px;
}
.feedbackBtnBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}